body {
    background-image: url("http://www.intrawallpaper.com/static/images/rainbow_texture679.jpg");
    background-size: cover;
    margin:0  auto;
}

.nav {
    background-color:gold; 
    border-radius: 5px;
}

#gameRules {
    background-color: #999999;
    border-radius: 5px;
}

#random{
    background-color: teal;
    border-radius: 5px;
    
    width:50%;
}
#winlose{
    background-color: red;
    width:50%;
    border-radius: 5px;
    
}
img{
    width:100px;
    height: 100px;
    border-radius: 5px;
}
.scorebox{
    background-color: greenyellow;
    border-radius: 5px;
}